body {
background-color: rgb(37, 43, 43);
}

h1,h2,h3,h4, h5, h6, p{
    color: white;
}

table{
    margin: 0% 3% 3% 3%;
}

img{
    object-fit: contain;
    max-width: 80vw;
    max-height:46vh; 
    height: auto;
    width: auto;
    margin-top:1vh;
    margin-bottom: 2vh;
}
.imgContainer{
    display: flex;
    justify-content: center;
}

.header{
    background-color: rgb(31, 31, 31);
}

.outerContainer {

    width: 95%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.UISelectButtons{
 margin: 1vh;
}

.uiJSONtoCSV{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.uiCSVAnalyzer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.descriptionText{
    max-width: 70%;
}

.fileInput{
    color: white;
    border-right: #f7f9f9;
    border-right-width: thick;
    border-right-style: groove;
}

.advancedOptionsToggle{
    cursor: pointer;
    background-color: #343a40;
    width:60%;
    margin: 2vh;
    align-items: center;
    justify-content: center;
}

.advancedOptions{
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 80vw;
}

.outputOptions{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;   
}

.opt{
    margin-bottom: 2vh;
}

.columnSelector{
    height: 20vh;
}


